<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>ThirdPartyLicenses</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AchknowledgementGenerator</string>
        <key>File</key>
        <string>Acknowledgement-AchknowledgementGenerator</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AcknowledgementGenerator</string>
        <key>File</key>
        <string>Acknowledgement-AcknowledgementGenerator</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>AFNetworking</string>
        <key>File</key>
        <string>Acknowledgement-AFNetworking</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>BOZPongRefreshController</string>
        <key>File</key>
        <string>Acknowledgement-BOZPongRefreshController</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>Haneke</string>
        <key>File</key>
        <string>Acknowledgement-Haneke</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>pop</string>
        <key>File</key>
        <string>Acknowledgement-pop</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>REFrostedViewController</string>
        <key>File</key>
        <string>Acknowledgement-REFrostedViewController</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>SCLAlertView-Objective-C</string>
        <key>File</key>
        <string>Acknowledgement-SCLAlertView-Objective-C</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>PSChildPaneSpecifier</string>
        <key>Title</key>
        <string>SWTableViewCell</string>
        <key>File</key>
        <string>Acknowledgement-SWTableViewCell</string>
      </dict>
    </array>
  </dict>
</plist>
