<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Design • Development • Concept</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>kfeavel</string>
			<key>Title</key>
			<string>Keeton Feavel</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>kfeavel</string>
			<key>Default Value</key>
			<string>@Kfeavel_</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Design • Artwork • Assets</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>earoa</string>
			<key>Title</key>
			<string>Efrain Roa</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>earoa</string>
			<key>Default Value</key>
			<string>@EA_Roa</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
