<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nano (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Nano.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Remember.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Spotlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E93D30CD1A15440D0086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93D30E21A1547820086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93D30EC1A1547820086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93D31091A1573130086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93D31131A1573130086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93D31881A1697340086BB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93F5FC61CBD45D7004FF22F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95A92A41C3C47A900BBAB41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95C832D1C776EF4004D18D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99FEE571AD2F071006DAE03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99FEE651AD2F071006DAE03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9EACA191C8F151B004027D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FBB3E319E9E5C000063C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FBB3FC19E9E5C100063C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
